.iconTextField {
    height: 35vh;
    width: 35vh;
    margin-left: 5%;
}

.textfield-icon {
    height: 35vh;
    width: 35vh;
    margin-right: 5vh;
    vertical-align: middle;
}

.textfeild-container {
    border-color: #273BD3;
    border-width: 1;
    border-radius: 5%;
    margin-top: 10%;
    /* margin-bottom: 2%; */
    width: 95%;
    height: 50vh;
    padding: 0;
}

.login-button {
    font-size: 20;
    border-radius: 10;
    background-color: #273BD3;
    text-transform: initial;
    color: white;
    border-color: white;
    border-width: 1;
    padding: 0;
    width: 95%;
    height: 50vh;
}

.login-button:highlighted {
    background-color: white;
    border-color: #273BD3;
    color: #273BD3;
}