<GridLayout *ngIf="isRendering" class="page" height="100%" width="100%">
    <GridLayout width="100%" height="50%" horizontalAlignment="center" backgroundColor="#273BD3" verticalAlignment="top"
        zIndex="0">
        <StackLayout col="1" width="70%" height="100%" marginTop="7%" horizontalAlignment="center"
            verticalAlignment="top">
            <Image src="res://view_white" width="80vw" height="80vw"></Image>
        </StackLayout>
    </GridLayout>

    <!-- <GridLayout row="0" height="50%" width="100%" verticalAlignment="middle">
            </GridLayout> -->

    <GridLayout height="50%" width="100%" verticalAlignment="bottom" backgroundColor="white">
        <StackLayout width="95%" height="20%" marginBottom="30%" verticalAlignment="bottom" (tap)="onForgotPassword()">
            <Label color="#273BD3" style="z-index:5;" fontSize="16" textAlignment="center" [text]="forgotPassword"
                (tap)="onForgotPassword()"></Label>
        </StackLayout>
        <StackLayout width="95%" height="20%" marginBottom="10%" verticalAlignment="bottom">
            <StackLayout width="100%" height="100%" orientation="horizontal" horizontalAlignment="center">
                <Label color="#273BD3" fontSize="16" textAlignment="center" [text]="dontAccount"
                    (tap)="onRegisterClick()"></Label>
                <Label color="#273BD3" fontSize="16" textAlignment="center" fontWeight="500" [text]="createNow"
                    (tap)="onRegisterClick()"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>
    <!-- <GridLayout horizontalAlignment="center" backgroundColor="aqua" width="85%" height="50%"> -->
    <CardView margin="10" width="85%" height="50%" horizontalAlignment="center" elevation="10" radius="10"
        ios:shadowRadius="3">
        <GridLayout orientation="vertical" margin="3vh" width="95%" height="100%" borderRadius="20"
            rows="auto,auto,auto,auto" backgroundColor="#ffffff" horizontalAlignment="center" verticalAlignment="middle"
            zIndex="99">
            <StackLayout row="0" width="95%" height="15%" marginTop="7%" verticalAlignment="middle">
                <Label color="#273BD3" fontSize="30" textAlignment="center" [text]="loginHeading"></Label>
            </StackLayout>
            <StackLayout row="1" class="textfeild-container" orientation="horizontal">
                <GridLayout class="iconTextField">
                    <Image class="textfield-icon" src="res://user">
                    </Image>
                </GridLayout>
                <TextField [hint]="usernameHint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                    (textChange)="userNameTextField($event)" borderWidth="1" borderColor="transparent"
                    autocorrect="false" returnKeyType="next">
                </TextField>
            </StackLayout>
            <StackLayout row="2" class="textfeild-container" orientation="horizontal">
                <GridLayout class="iconTextField">
                    <Image class="textfield-icon" src="res://password">
                    </Image>
                </GridLayout>
                <TextField [hint]="passwordHint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                    (textChange)="passwordTextField($event)" borderWidth="1" borderColor="transparent"
                    autocorrect="false" secure="true" returnKeyType="go" (returnPress)="onLoginClick()">
                </TextField>
            </StackLayout>
            <StackLayout row="3" width="95%" height="30%" marginTop="5%">
                <Button class="login-button" [text]="loginButton" (tap)="onLoginClick()"></Button>
            </StackLayout>
        </GridLayout>
    </CardView>
    <!-- </GridLayout> -->
</GridLayout>

<GridLayout *ngIf="!isRendering" width="100%" height="100%">
    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
        colSpan="1">
    </ActivityIndicator>
</GridLayout>

<GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
    <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
        [busy]="isLoading" rowSpan="1" colSpan="1">
    </ActivityIndicator>
</GridLayout>