<GridLayout *ngIf="isRendering" class="page">
    <GridLayout height="100%" width="100%">
        <GridLayout columns="auto,auto,auto" width="100%" height="50%" horizontalAlignment="center"
            verticalAlignment="top" backgroundColor="#273BD3">
            <StackLayout col="0" width="15%" height="100%" horizontalAlignment="center" verticalAlignment="top">
                <Image src="res://arrow_back" width="40" height="40" marginTop="7%" (tap)="onBack()"></Image>
            </StackLayout>
            <StackLayout col="1" width="70%" height="100%" horizontalAlignment="center" verticalAlignment="top">
                <Image src="res://view_white" width="80vw" height="80vw" marginTop="2%"></Image>
            </StackLayout>
            <StackLayout col="2" width="15%" height="100%" horizontalAlignment="center" verticalAlignment="top">
            </StackLayout>
        </GridLayout>

        <GridLayout height="50%" width="100%" horizontalAlignment="center" verticalAlignment="bottom"
            backgroundColor="white">
        </GridLayout>

        <CardView width="85%" [height]="showPassword?'65%':'40%'" margin="10" horizontalAlignment="center"
            elevation="10" radius="10" ios:shadowRadius="3">
            <GridLayout #forgotPasswordCard width="95%" height="100%" orientation="vertical" backgroundColor="#ffffff"
                borderRadius="20" rows="auto,auto,auto,auto,auto" horizontalAlignment="center"
                verticalAlignment="middle">
                <StackLayout row="0" width="95%" height="15%" marginTop="3%" verticalAlignment="middle">
                    <Label color="#273BD3" fontSize="30" textAlignment="center" [text]="confirmOtpHeading"></Label>
                </StackLayout>
                <StackLayout row="1" [marginTop]="showPassword?'7%':'15%'" class="textfeild-container"
                    orientation="horizontal">
                    <TextField [hint]="otpHint" width="95%" color="#273BD3" style.placeholderColor="#B9B9B9"
                        (textChange)="otpTextField($event)" borderWidth="1" borderColor="transparent"
                        autocorrect="false" keyboardType="phone" maxLength="6" secure="true" returnKeyType="next">
                    </TextField>
                </StackLayout>
                <StackLayout *ngIf="showPassword" row="2" class="textfeild-container" orientation="horizontal">
                    <TextField hint="New Password" width="95%" color="#273BD3" style.placeholderColor="#B9B9B9"
                        (textChange)="passwordTextField($event)" borderWidth="1" borderColor="transparent"
                        autocorrect="false" keyboardType="phone" maxLength="6" secure="true" returnKeyType="next">
                    </TextField>
                </StackLayout>
                <StackLayout *ngIf="showPassword" row="3" class="textfeild-container" orientation="horizontal">
                    <TextField hint="Confirm New Password" width="95%" color="#273BD3" style.placeholderColor="#B9B9B9"
                        (textChange)="confirmPasswordTextField($event)" borderWidth="1" borderColor="transparent"
                        autocorrect="false" keyboardType="phone" maxLength="6" secure="true" returnKeyType="done">
                    </TextField>
                </StackLayout>
                <StackLayout row="4" width="95%" height="50vh" [marginTop]="showPassword?'5%':'15%'">
                    <Button class="sendOtp-button" [text]="confirmButton" (tap)="onConfirmClick()"></Button>
                </StackLayout>
            </GridLayout>
        </CardView>
    </GridLayout>
</GridLayout>

<GridLayout *ngIf="!isRendering" width="100%" height="100%">
    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
        colSpan="1">
    </ActivityIndicator>
</GridLayout>

<GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
    <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
        [busy]="isLoading" rowSpan="1" colSpan="1">
    </ActivityIndicator>
</GridLayout>