<GridLayout *ngIf="isRendering" class="page">
    <GridLayout height="100%" width="100%">
        <GridLayout columns="auto,auto,auto" width="100%" height="50%" horizontalAlignment="center"
            verticalAlignment="top" backgroundColor="#273BD3">
            <StackLayout col="0" width="15%" height="100%" marginTop="4%" horizontalAlignment="center"
                verticalAlignment="top">
                <Image src="res://arrow_back" width="40" height="40" (tap)="onBack()"></Image>
            </StackLayout>
            <StackLayout col="1" width="70%" height="100%" marginTop="7%" horizontalAlignment="center"
                verticalAlignment="top">
                <Image src="res://view_white" width="80vw" height="80vw"></Image>
            </StackLayout>
            <StackLayout col="2" width="15%" height="100%" horizontalAlignment="center" verticalAlignment="top">
            </StackLayout>
        </GridLayout>

        <GridLayout verticalAlignment="bottom" height="50%" width="100%" backgroundColor="white">
        </GridLayout>

        <CardView margin="10" verticalAlignment="middle" horizontalAlignment="center" height="50%" width="85%"
            elevation="10" radius="10" ios:shadowRadius="3">
            <GridLayout backgroundColor="#ffffff" orientation="vertical" width="95%" height="90%" borderRadius="20"
                rows="auto,auto,auto,auto">
                <StackLayout row="0" width="95%" height="20%" marginTop="10%" verticalAlignment="middle">
                    <Label color="#273BD3" fontSize="30" textAlignment="center" [text]="forgotHeading"></Label>
                </StackLayout>
                <StackLayout row="1" class="textfeild-container" orientation="horizontal">
                    <TextField class="textfield-email" [hint]="emailHint" (textChange)="emailTextField($event)"
                        autocorrect="false" keyboardType="email" returnKeyType="done">
                    </TextField>
                </StackLayout>
                <StackLayout row="3" width="95%" height="20%" marginTop="10%">
                    <Button class="sendOtp-button" [text]="sendOTPButton" (tap)="onSendOtpClick()"></Button>
                </StackLayout>
            </GridLayout>
        </CardView>
    </GridLayout>
</GridLayout>

<GridLayout *ngIf="!isRendering" width="100%" height="100%">
    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
        colSpan="1">
    </ActivityIndicator>
</GridLayout>

<GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
    <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
        [busy]="isLoading" rowSpan="1" colSpan="1">
    </ActivityIndicator>
</GridLayout>