.top-heading {
    font-size: 32;
    font-weight: 500;
    color: #1B1B1B;
}

.menu-icon {
    width: 25;
    height: 25;
    margin-top: 10;
}

.textfield-email {
    width: 95%;
    color: #273BD3;
    placeholder-color: #B9B9B9;
    border-width: 1;
    border-color: transparent;
}

.textfeild-container {
    border-color: #273BD3;
    border-width: 1;
    border-radius: 5%;
    margin-top: 10%;
    /* margin-bottom: 2%; */
    width: 95%;
    height: auto;
}

.sendOtp-button {
    font-size: 20;
    border-radius: 10;
    background-color: #273BD3;
    text-transform: initial;
    color: white;
    border-color: white;
    border-width: 1;
    padding: 0;
}

.sendOtp-button:highlighted {
    background-color: white;
    border-color: #273BD3;
    color: #273BD3;
}