<GridLayout *ngIf="isRendering" class="page" width="100%" height="100%">

    <GridLayout width="100%" height="50%" horizontalAlignment="center" backgroundColor="#273BD3"
        verticalAlignment="top">
        <StackLayout col="1" width="70%" height="100%" marginTop="7%" horizontalAlignment="center"
            verticalAlignment="top">
            <Image src="res://view_white" width="80vw" height="80vw"></Image>
        </StackLayout>
    </GridLayout>

    <GridLayout height="50%" width="100%" verticalAlignment="bottom">
        <StackLayout orientation="horizontal" verticalAlignment="bottom" horizontalAlignment="center"
            marginBottom="12.5%">
            <Label color="#273BD3" fontSize="16" textAlignment="center" [text]="alreadyAccount"
                (tap)="onLoginClick()"></Label>
            <Label color="#273BD3" fontSize="16" textAlignment="center" fontWeight="500" [text]="login"
                (tap)="onLoginClick()"></Label>
        </StackLayout>
    </GridLayout>

    <CardView width="85%" height="65%" margin="10" horizontalAlignment="center" elevation="10" radius="10"
        ios:shadowRadius="3">
        <GridLayout orientation="vertical" width="95%" height="100%" backgroundColor="#ffffff" borderRadius="20"
            rows="auto,auto,auto,auto,auto,auto,auto">
            <GridLayout row="0" width="95%" height="15%" marginTop="5.38%">
                <Label color="#273BD3" verticalAlignment="top" fontSize="30" textAlignment="center"
                    [text]="registerHeading"></Label>
            </GridLayout>
            <StackLayout row="1" class="textfeild-container" orientation="horizontal">
                <StackLayout class="iconTextField">
                    <Image class="textfield-icon" src="res://user">
                    </Image>
                </StackLayout>
                <TextField [hint]="nameHint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                    (textChange)="nameTextField($event)" borderWidth="1" borderColor="transparent" autocorrect="false">
                </TextField>
            </StackLayout>
            <StackLayout row="2" class="textfeild-container" orientation="horizontal">
                <StackLayout class="iconTextField">
                    <Image class="textfield-icon" src="res://user">
                    </Image>
                </StackLayout>
                <TextField [hint]="emailHint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                    (textChange)="emailTextField($event)" borderWidth="1" borderColor="transparent" autocorrect="false"
                    keyboardType="email">
                </TextField>
            </StackLayout>
            <StackLayout row="3" class="textfeild-container" orientation="horizontal">
                <GridLayout class="iconTextField">
                    <Image class="textfield-icon" src="res://password">
                    </Image>
                </GridLayout>
                <TextField [hint]="passwordHint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                    (textChange)="passwordTextField($event)" borderWidth="1" borderColor="transparent"
                    autocorrect="false" secure="true">
                </TextField>
            </StackLayout>
            <StackLayout row="4" class="textfeild-container" orientation="horizontal">
                <GridLayout class="iconTextField">
                    <Image class="textfield-icon" src="res://password">
                    </Image>
                </GridLayout>
                <TextField [hint]="confirmPasswordhint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                    (textChange)="confirmPasswordTextField($event)" borderWidth="1" borderColor="transparent"
                    autocorrect="false" secure="true">
                </TextField>
            </StackLayout>
            <StackLayout row="5" width="95%" margin="1%" height="14%" backgroundColor="white">
                <Button class="register-button" [text]="signUpButton" (tap)="onRegisterClick()"></Button>
            </StackLayout>

        </GridLayout>
    </CardView>

    <GridLayout #errorDialog modal zIndex="999" size="lg" duration="100">
        <GridLayout width="80%" height="30%" radius="20" (loaded)="onErrorDialogLoaded($event)">
            <GridLayout rows="auto,auto" width="100%" height="100%">
                <GridLayout row="0" height="70%" width="90%" verticalAlignment="middle">
                    <Label class="readDialogLabel" textWrap="true" horizontalAlignment="center" fontSize="30"
                        color="green" [text]="somethingWentWrong"></Label>
                    <Label class="readDialogLabel" textWrap="true" horizontalAlignment="center" fontSize="20"
                        color="black" [text]="tryAgain"></Label>
                </GridLayout>

                <GridLayout row="1" height="20%" width="50%"></GridLayout>

            </GridLayout>
        </GridLayout>
    </GridLayout>

    <GridLayout #errorDialog modal zIndex="999" size="lg" duration="100">
        <GridLayout width="80%" height="30%" radius="20" (loaded)="onErrorDialogLoaded($event)">
            <GridLayout rows="auto,auto" width="100%" height="100%">
                <GridLayout row="0" height="70%" width="90%" verticalAlignment="middle">
                    <Label class="readDialogLabel" textWrap="true" horizontalAlignment="center" fontSize="30"
                        color="green" [text]="somethingWentWrong"></Label>
                    <Label class="readDialogLabel" textWrap="true" horizontalAlignment="center" fontSize="20"
                        color="black" [text]="tryAgain"></Label>
                </GridLayout>

                <GridLayout row="1" height="20%" width="50%"></GridLayout>

            </GridLayout>
        </GridLayout>
    </GridLayout>

</GridLayout>

<GridLayout *ngIf="!isRendering" width="100%" height="100%">
    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
        colSpan="1">
    </ActivityIndicator>
</GridLayout>

<GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
    <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
        [busy]="isLoading" rowSpan="1" colSpan="1">
    </ActivityIndicator>
</GridLayout>