.top-heading {
    font-size: 32;
    font-weight: 500;
    color: #1B1B1B;
}

.menu-icon {
    width: 25;
    height: 25;
    margin-top: 10;
}

.iconTextField {
    height: 35vh;
    width: 35vh;
    margin-left: 5%;
}

.textfield-icon {
    height: 50vh;
    width: 50vh;
    margin-right: 5vh;
    vertical-align: middle;
}

.textfeild-container {
    border-color: #273BD3;
    border-width: 1;
    border-radius: 10;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 95%;
    height: 50vh;
    padding: 0;
}

.register-button {
    font-size: 20;
    border-radius: 10;
    background-color: #273BD3;
    text-transform: initial;
    color: white;
    border-color: white;
    border-width: 1;
    padding: 0;
    width: 95%;
    height: 50vh;
}

#errorDialog {
    z-index: 99;
}