.top-heading {
    font-size: 32;
    font-weight: 500;
    color: #1B1B1B;
}

.menu-icon {
    width: 25;
    height: 25;
    margin-top: 10;
}

.iconTextField {
    height: 10%;
    width: 10%;
    margin-left: 5%;
}

.textfeild-container {
    border-color: #273BD3;
    border-width: 1;
    border-radius: 10;
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
    width: 95%;
    height: auto;
    margin: 4;
}

.register-button {
    font-size: 20;
    border-radius: 10;
    background-color: #273BD3;
    text-transform: initial;
    color: white;
    border-color: white;
    border-width: 1;
    padding: 0;
    android-evelavation: 4;
    android-dynamic-elevation-offset: 4;
}

.register-button:highlighted {
    background-color: white;
    border-color: #273BD3;
    color: #273BD3;
}

#errorDialog {
    z-index: 99;
}