<GridLayout *ngIf="isRendering" class="page">
    <GridLayout height="100%" width="100%">
        <StackLayout width="100%" height="50%" horizontalAlignment="center" backgroundColor="#273BD3"
            verticalAlignment="top">
            <Image src="res://view_white" width="80vh" height="80vh" marginTop="10%"></Image>
        </StackLayout>

        <GridLayout height="50%" width="100%">
        </GridLayout>

        <CardView width="85%" height="65%" margin="10" horizontalAlignment="center" elevation="10" radius="10"
            ios:shadowRadius="3">
            <GridLayout #changePasswordCard backgroundColor="white" orientation="vertical" width="95%" height="100%"
                borderRadius="20" rows="auto,auto,auto,auto,auto">
                <StackLayout row="0" width="95%" height="15%" marginTop="5%" verticalAlignment="middle">
                    <Label color="#273BD3" fontSize="30" textAlignment="center" [text]="changePasswordHeading"></Label>
                </StackLayout>
                <StackLayout row="1" class="textfeild-container" orientation="horizontal">
                    <GridLayout class="iconTextField">
                        <Image class="textfield-icon" src="res://password">
                        </Image>
                    </GridLayout>
                    <TextField [hint]="oldPasswordHint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                        (textChange)="oldPasswordTextField($event)" borderWidth="1" borderColor="transparent"
                        autocorrect="false" secure="true" returnKeyType="next">
                    </TextField>
                </StackLayout>
                <StackLayout row="2" class="textfeild-container" orientation="horizontal">
                    <GridLayout class="iconTextField">
                        <Image class="textfield-icon" src="res://password">
                        </Image>
                    </GridLayout>
                    <TextField [hint]="newPasswordHint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                        (textChange)="newPasswordTextField($event)" borderWidth="1" borderColor="transparent"
                        autocorrect="false" secure="true" returnKeyType="next">
                    </TextField>
                </StackLayout>
                <StackLayout row="3" class="textfeild-container" orientation="horizontal">
                    <GridLayout class="iconTextField">
                        <Image class="textfield-icon" src="res://password">
                        </Image>
                    </GridLayout>
                    <TextField [hint]="confirmPasswordhint" width="85%" color="#273BD3" style.placeholderColor="#B9B9B9"
                        (textChange)="confirmPasswordTextField($event)" borderWidth="1" borderColor="transparent"
                        autocorrect="false" secure="true" returnKeyType="done">
                    </TextField>
                </StackLayout>
                <StackLayout row="4" width="95%" height="15%" marginTop="5%">
                    <Button class="update-button" [text]="updatePasswordButton" (tap)="onUpdatePassword()"></Button>
                </StackLayout>
            </GridLayout>
        </CardView>
    </GridLayout>
</GridLayout>

<GridLayout *ngIf="!isRendering" width="100%" height="100%">
    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
        colSpan="1">
    </ActivityIndicator>
</GridLayout>

<GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
    <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
        [busy]="isLoading" rowSpan="1" colSpan="1">
    </ActivityIndicator>
</GridLayout>