.chapter-name {
    font-size: 14;
    font-weight: 500;
    color: black;
}

.chapter-heading {
    font-size: 20;
    font-weight: 500;
    color: black;
}

.menu-icon {
    width: 30;
    height: 30;
}

.chapter-body {
    font-size: 14;
    color: black;
}

.chapter-sub-heading {
    font-size: 16;
    font-weight: 500;
    color: black;
}

.filled-button {
    font-size: 20;
    border-radius: 10;
    background-color: #273BD3;
    text-transform: initial;
    color: white;
    border-color: white;
    border-width: 2;
    padding: 0;
    z-index: 0;
}

.filled-button:highlighted {
    background-color: transparent;
    border-color: #273BD3;
    color: #273BD3;
}

.empty-button {
    border-radius: 10;
    background-color: transparent;
    border-color: #273BD3;
    border-width: 2;
    text-transform: initial;
    color: #273BD3;
    font-size: 20;
    padding: 0;
    z-index: 0;
}

.empty-button:highlighted {
    border-color: white;
    background-color: #273BD3;
    color: white;
}

.play-container {
    width: 50;
    height: 50;
    vertical-align: middle;
    background-color: #273BD3;
    margin-right: 10%;
    border-radius: 25;
}

.play-icon {
    width: 30;
    height: 30;
}

.button-container {
    width: 100%;
    height: 45%;
    margin-top: 3.33%;
}

/* Dialog */

.readDialogLabel {
    font-size: 24;
    color: black;
    text-align: center;
    font-weight: 500;
}

.full-access-button {
    border-color: #273BD3;
    width: 47.5%;
    height: 60%;
    font-size: 12%;
}

.continue-button {
    width: 47.5%;
    height: 60%;
    margin-left: 5%;
    font-size: 12%;
}

.mask {
    background-color: rgba(235, 235, 235, 0.5);
    z-index: 1000;
}