<Page actionBarHidden="true">
    <GridLayout *ngIf="isRendering" rows="auto,auto" height="100%" width="100%" marginBottom="10%">
        <GridLayout row="0" class="question-container" backgroundColor="#273BD3" marginTop="30" width="100%"
            height="40%" rows="auto,auto,auto,*">
            <GridLayout row="0" columns="auto,auto,auto" height="15%" marginTop="5%" width="95%">
                <StackLayout col=" 0" height="100%" width="10%">
                    <Image class="icon" horizontalAlignment="left" src="res://arrow_back"></Image>
                </StackLayout>
                <GridLayout col="1" height="100%" width="80%">
                    <GridLayout horizontalAlignment="center">
                        <Label col="0" class="question-number" [text]="question+' '+questionNumber+'/10'"></Label>
                    </GridLayout>
                </GridLayout>
                <StackLayout col="2" height="100%" width="10%">
                </StackLayout>
            </GridLayout>
            <StackLayout row="1" height="10%" width="90%">
                <Label class="question-label" [text]="questionOrigin"></Label>
            </StackLayout>
            <StackLayout row="2" height="68%" width="90%">
                <Label class="question" textWrap="true" [text]="questionName"></Label>
            </StackLayout>
            <StackLayout row="3" width="100%">
                <Progress class="progress" [value]="progressValue" (valueChanged)="onValueChanged($event)"
                    maxValue="100">
                </Progress>
            </StackLayout>
        </GridLayout>
        <StackLayout row="1" width="100%" height="50%">
            <StackLayout *ngFor="let option of questions[questionNumber-1].options;let index=index"
                class="card-container">
                <CardView class="card" elevation="10" radius="10" ios:shadowRadius="3"
                    [backgroundColor]="selectedOption==index?selectedOptionColor:unselectedOptionColor"
                    (tap)="onOptionClick(index)">
                    <GridLayout class="card-layout" columns="auto,auto,auto">
                        <StackLayout col="0" width="15%" verticalAlignment="middle">
                            <Image class="question-icon" horizontalAlignment="center"
                                [src]="selectedOption==index?selectedOptionIcon:unselectedOptionIcon">
                            </Image>
                        </StackLayout>
                        <StackLayout col="1" width="0.5%" height="100%" backgroundColor="#c9c9c9">
                        </StackLayout>
                        <StackLayout col="2" width="79.5%" verticalAlignment="middle">
                            <Label class="question-options"
                                [color]="selectedOption==index?selectedTextColor:unselectedTextColor" textWrap="true"
                                [text]="option.value"></Label>
                        </StackLayout>
                    </GridLayout>
                </CardView>
            </StackLayout>
            <!-- <StackLayout row="1" class="card-container">
                <CardView class="card" elevation="10" radius="10" ios:shadowRadius="3"
                    [backgroundColor]="secondOptionColor" (tap)="secondOptionClick()">
                    <GridLayout class="card-layout" columns="auto,auto,auto">
                        <StackLayout col="0" width="15%" verticalAlignment="middle">
                            <Image class="question-icon" horizontalAlignment="center" [src]="secondOptionImage">
                            </Image>
                        </StackLayout>
                        <StackLayout col="1" width="0.5%" height="100%" backgroundColor="#c9c9c9">
                        </StackLayout>
                        <StackLayout col="2" width="79.5%" verticalAlignment="middle">
                            <Label class="question-options" [color]="secondTextColor" textWrap="true"
                                [text]="option2"></Label>
                        </StackLayout>
                    </GridLayout>
                </CardView>
            </StackLayout>
            <StackLayout row="2" class="card-container">
                <CardView class="card" elevation="10" radius="10" ios:shadowRadius="3"
                    [backgroundColor]="thirdOptionColor" (tap)="thirdOptionClick()">
                    <GridLayout class="card-layout" columns="auto,auto,auto">
                        <StackLayout col="0" width="15%" verticalAlignment="middle">
                            <Image class="question-icon" horizontalAlignment="center" [src]="thirdOptionImage">
                            </Image>
                        </StackLayout>
                        <StackLayout col="1" width="0.5%" height="100%" backgroundColor="#c9c9c9">
                        </StackLayout>
                        <StackLayout col="2" width="79.5%" verticalAlignment="middle">
                            <Label class="question-options" [color]="thirdTextColor" textWrap="true"
                                [text]="option3"></Label>
                        </StackLayout>
                    </GridLayout>
                </CardView>
            </StackLayout>
            <StackLayout row="3" class="card-container">
                <CardView class="card" elevation="10" radius="10" ios:shadowRadius="3"
                    [backgroundColor]="fourthOptionColor" (tap)="fourthOptionClick()">
                    <GridLayout class="card-layout" columns="auto,auto,auto">
                        <StackLayout col="0" width="15%" verticalAlignment="middle">
                            <Image class="question-icon" horizontalAlignment="center" [src]="fourthOptionImage">
                            </Image>
                        </StackLayout>
                        <StackLayout col="1" width="0.5%" height="100%" backgroundColor="#c9c9c9">
                        </StackLayout>
                        <StackLayout col="2" width="79.5%" verticalAlignment="middle">
                            <Label class="question-options" [color]="fourthTextColor" textWrap="true"
                                [text]="option4"></Label>
                        </StackLayout>
                    </GridLayout>
                </CardView>
            </StackLayout> -->
        </StackLayout>
    </GridLayout>

    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>

    <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
        <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
            [busy]="isLoading" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>

</Page>