.icon{
    width:30;
    height:30;
}
.question-number{
    font-size:18;
    color:white;
    font-weight: 500;
    text-align: center;
}
.question-label{
    font-size:14;
    color:#9E9E9E;
}
.question{
    font-size:24;
    color:white;
    font-weight: 500;
}
.progress{
    color:white;
}
.card-container{
    height:25%;
    width:100%;
}
.card {
    width:90%;
    height:60%;
    margin-top: 20%;
}
.card-layout{
    width:90%;
    height:100%;
}
.question-icon{
    width:20;
    height:20;
}
.question-options{
    font-size: 20;
    margin-left: 10;
    font-weight: 500;
}