.top-heading {
    font-size: 32;
    font-weight: 500;
    color: black;
}

.menu-icon {
    width: 25;
    height: 25;
    margin-top: 10;
}

.reminder-button {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    z-index: 0;
}

.reminder-generic-button {
    color: black;
    width: 30%;
    border-width: 1;
    border-color: #d1d1d1;
}

.reminder-day-button {
    height: 75%;
    border-radius: 10;
    background-color: transparent;
    font-size: 10px;
    font-weight: bold;
}

.reminder-day-button-clicked {
    background-color: blue;
}

.reminder-cancel-button {
    color: #4d4d4d;
}

.reminder-cancel-button:highlighted {
    background-color: #273BD3;
    color: white;
}

.reminder-done-button {
    color: #273BD4;
}

.reminder-done-button:highlighted {
    background-color: #4d4d4d;
    color: white;
}

.card {
    background-color: #273BD3;
    margin-top: 10;
    margin-bottom: 10;
    width: 90%;
}

.profile-picture {
    width: 110vh;
    height: 110vh;
    border-radius: 60vh;
    border-color: #273BD3;
    border-width: 16vh;
}

.default-padding {
    padding-right: 0;
}

.profile-name {
    height: 23%;
    font-size: 20%;
    color: white;
    padding: 0;
    border-color: transparent;
    border-width: 1;
}

.profile-status {
    height: 16%;
    font-size: 14%;
    color: #ffffff;
    text-align: left;
    padding: 0;
    border-color: transparent;
    border-width: 0.1;
}

.readDialogLabel {
    color: #1B1B1B;
    font-size: 20;
    text-align: center;
    font-weight: 500;
}

.card-layout {
    /* padding: 10; */
}

.icon {
    width: 20;
    height: 40;
}

.card-left {
    background-color: #fff;
    color: #4d4d4d;
    margin-left: 5%;
    margin-top: 10;
    margin-bottom: 10;
    width: 42%;
}

.card-right {
    background-color: #fff;
    color: #4d4d4d;
    margin-right: 5%;
    margin-top: 10;
    margin-bottom: 10;
    width: 42%;
}

.profile-headings {
    width: 90%;
    margin-top: 10;
}

.headings {
    font-size: 20;
    color: black;
    margin-top: 10;
}

.card-heading {
    font-size: 12;
    color: #9E9E9E;
    text-align: left;
    margin-top: 10;
}

.card-body {
    margin-top: 20;
    font-size: 24;
    color: #9E9E9E;
    height: 10%;
    width: 90%;
}

.filled-button {
    font-size: 20;
    border-radius: 10;
    background-color: #273BD3;
    text-transform: initial;
    color: white;
    border-color: white;
    border-width: 2;
    padding: 0;
    z-index: 0;
}

.filled-button:highlighted {
    background-color: transparent;
    border-color: #273BD3;
    color: #273BD3;
}

.empty-button {
    border-radius: 10;
    background-color: transparent;
    border-color: #273BD3;
    border-width: 2;
    text-transform: initial;
    color: #273BD3;
    font-size: 20;
    padding: 0;
    z-index: 0;
}

.empty-button:highlighted {
    border-color: white;
    background-color: #273BD3;
    color: white;
}