<GridLayout *ngIf="isRendering" (loaded)="onPageLoaded($event)" class='page' width="100%" height="100%">
    <ScrollView height="100%" width="100%">
        <GridLayout rows="auto,auto,auto,auto,auto,auto" height="100%" width="100%" marginBottom="60">
            <GridLayout row="0" marginLeft="7%" marginTop="20" height="7%" columns="auto,auto">
                <StackLayout col="0" width="80%">
                    <Label class="top-heading" [text]="language.hello+' '+userName"></Label>
                </StackLayout>
                <StackLayout #menuButton col="1" width="20%" (tap)="onMenuClick(menuButton)">
                    <Image class="menu-icon" horizontalAlignment="center" src="res://menu"></Image>
                </StackLayout>
            </GridLayout>
            <StackLayout row="1" marginTop="10" height="35%">
                <CardView class="card" horizontalAlignment="center" elevation="10" radius="10" ios:shadowRadius="3">
                    <GridLayout columns="auto,auto" class="card-layout">
                        <StackLayout col="0" width="80%">
                            <GridLayout height="110vh" width="110vh" (tap)="onImageEditTap()"
                                horizontalAlignment="left">
                                <NSImage class="profile-picture" stretch="aspectFill" horizontalAlignment="left"
                                    [src]="imageUrl" (tap)="onImageEditTap()">
                                </NSImage>
                                <GridLayout class="profile-picture" (tap)="onImageEditTap()"
                                    backgroundColor="transparent" horizontalAlignment="left">
                                </GridLayout>
                            </GridLayout>
                            <TextField #nameTextField [class.default-padding]="nameIsFocussed" class="profile-name"
                                [borderBottomColor]="nameBorderColor" [editable]="showUpdateButtons"
                                hint="Type name here" textWrap="true" [text]="nameText"
                                (loaded)="onNameTextFieldLoaded($event)" (textChange)="onNameTextChange($event)"
                                (focus)="onNameFocus($event.object)" (blur)="onNameBlur()"
                                style="placeholder-color:#ffffff;">
                            </TextField>
                            <TextField [class.default-padding]="nameIsFocussed" class="profile-status"
                                [editable]="showUpdateButtons" (textChange)="onStatusTextChange($event)"
                                [hint]="typeBioHere" horizontalAlignment="left" [text]="statusText"
                                (focus)="onStatusFocus($event.object)" (blur)="onStatusBlur()"
                                style="placeholder-color:#ffffff;">
                            </TextField>
                        </StackLayout>
                        <GridLayout col="1" width="20%" verticalAlignment="top" horizontalAlignment="right">
                            <!-- <Image class="icon" src="res://edit" (tap)="onEditTap()"></Image> -->
                            <Button [text]="editButton" padding="0" margin="5" borderRadius="2"
                                verticalAlignment="middle" horizontalAlignment="left" fontSize="8%"
                                backgroundColor="white" androidElevation="10" androidElevationOffset="5" color="#273BD3"
                                height="12%" width="60%" (tap)="onEditTap()"></Button>
                        </GridLayout>
                    </GridLayout>
                </CardView>
            </StackLayout>
            <StackLayout row="2" class="profile-headings">
                <Label class="headings" [text]="activityText"></Label>
            </StackLayout>

            <GridLayout row="3" height="110vh" width="100%">
                <RadListView [items]="chapters" backgroundColor="white" rowHeight="110vh" colWidth="120vh" width="100%"
                    height="110vh" marginTop="3vh" (loaded)="onListViewLoaded($event,0)">
                    <ng-template let-item="item" let-i=index let-odd="odd">
                        <CardView margin="3vh" elevation="7" radius="25" ios:shadowRadius="4">
                            <GridLayout height="100vh" width="120vh" borderRadius="10" backgroundColor="white">
                                <Label [text]="item==undefined?chapterText:item.name" fontSize="20%"
                                    verticalAlignment="top" horizontalAlignment="center" color="#a1a1a1"
                                    margin="15vh"></Label>
                                <Label [text]="item==undefined?'0%':(item.quizPercentage+'%')" fontSize="20%"
                                    verticalAlignment="bottom" horizontalAlignment="center" marginBottom="15vh"
                                    color="#a1a1a1"></Label>
                            </GridLayout>
                        </CardView>
                    </ng-template>
                    <ListViewGridLayout tkListViewLayout scrollDirection="Horizontal" itemHeight="100vh" spanCount="1">
                    </ListViewGridLayout>
                </RadListView>
                <GridLayout *ngIf="isActivityLoading" backgroundColor="transparent" width="100%" height="100%">
                    <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center"
                        verticalAlignment="middle" [busy]="isActivityLoading" color="blue" rowSpan="1" colSpan="1">
                    </ActivityIndicator>
                </GridLayout>
            </GridLayout>

            <StackLayout row="4" class="profile-headings">
                <Label class="headings" [text]="quizDetails"></Label>
            </StackLayout>


            <GridLayout row="5" height="110vh" marginTop="3vh" width="100%">

                <RadListView [items]="chapters" backgroundColor="white" rowHeight="110vh" colWidth="120vh" width="100%"
                    height="110vh" marginTop="3vh" (loaded)="onQuizListViewLoaded($event)">
                    <ng-template let-item="item" let-i=index let-odd="odd">
                        <CardView margin="3vh" elevation="7" radius="25" ios:shadowRadius="4">
                            <GridLayout height="100vh" width="120vh" borderRadius="10" backgroundColor="white">
                                <Label [text]="item==undefined?chapterText:item.name" fontSize="20%"
                                    verticalAlignment="top" horizontalAlignment="center" margin="15vh"
                                    color="#a1a1a1"></Label>
                                <Label
                                    [text]="item==undefined?'0/10':(item.correctQuizQuestions+'/'+item.totalQuizQuestions)"
                                    fontSize="20%" verticalAlignment="bottom" horizontalAlignment="center"
                                    marginBottom="15vh" color="#a1a1a1"></Label>
                            </GridLayout>
                        </CardView>
                    </ng-template>
                    <ListViewGridLayout tkListViewLayout scrollDirection="Horizontal" itemHeight="100vh" spanCount="1">
                    </ListViewGridLayout>
                </RadListView>

                <GridLayout *ngIf="isQuizDetailLoading" backgroundColor="transparent" width="100%" height="100%">
                    <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center"
                        verticalAlignment="middle" [busy]="isQuizDetailLoading" color="blue" rowSpan="1" colSpan="1">
                    </ActivityIndicator>
                </GridLayout>

            </GridLayout>
        </GridLayout>
    </ScrollView>

    <GridLayout *ngIf="showUpdateButtons" columns="auto,auto" width="100%" height="8%" marginBottom="10%"
        backgroundColor="white" verticalAlignment="bottom" horizontalAlignment="center">
        <Button class="filled-button" width="41%" height="95%" marginLeft="6%" marginRight="6%" col="0"
            [text]="language.updateText" (tap)="onUpdateTap()"></Button>
        <Button class="empty-button" width="41%" height="95%" marginRight="6%" col="1" [text]="language.discardText"
            (tap)="onDiscardTap()"></Button>
    </GridLayout>

    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>

    <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
        <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
            [busy]="isLoading" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>
    <GridLayout #languageSelectDialog modal size="lg" duration="100" dismissable="true">
        <GridLayout width="80%" height="30%" radius="20" margin="15" (loaded)="onLenguageSelectLoaded($event)"
            backgroundColor="#ffffff">
            <ScrollView width="100%" height="100%">
                <StackLayout verticalAlignment="middle">
                    <StackLayout *ngFor="let lang of languageList" height="40" width="90%" verticalAlignment="middle"
                        (tap)="changeLanguage(lang)">
                        <Label class="readDialogLabel" textWrap="true" [text]="lang.display"
                            verticalAlignment="middle"></Label>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
    </GridLayout>
</GridLayout>