.quiz-percentage{
    font-size:72;
    color:white;
    font-weight: 500;
    margin-bottom: 10;
}
.correct-questions{
    font-size:18;
    color:#9E9E9E;
    font-weight: 500;
}
.card {
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    width:90%;
    height:95%;
}
.option-card {
    background-color: white;
    margin-top: 10%;
    width:90%;
    height:70%;
}
.question-name{
    font-size:24;
    color:black;
    font-weight: 500;
}
.question-number{
    font-size:24;
    color:#C9C9C9;
    font-weight: 500;
    text-align: center;
}
.card-container{
    height:25%;
    width:100%;
}
.card-layout{
    width:90%;
    height:100%;
    border-width:2;
    border-radius: 5;
}
.question-icon{
    width:15;
    height:15;
}
.question-options{
    font-size: 16;
    margin-left: 10;
    font-weight: 500;
}
.option{
    width:80%;
    height:14%; 
    /* margin-top: 5%;     */
    /* vertical-align: middle; */
    border-color:gray;
    background-color: transparent;
    border-radius:10;
    color:white;
    padding:0;
    text-transform: initial;
}
.next-button{
    width:80%;
    height:10%; 
    margin-bottom: 2%;
    /* margin-top: 5%;     */
    /* vertical-align: middle; */
    background-color: #273BD3;
    border-radius:3.75vh;
    color:white;
    padding:0;
    text-transform: initial;
}