<Page actionBarHidden="true">
    <GridLayout *ngIf="isRendering" rows="auto,auto,auto" height="100%" width="100%" marginBottom="10%">
        <StackLayout row="0" class="question-container" backgroundColor="#273BD3" marginTop="30" width="100%"
            height="25%">
            <Label col="0" class="text-center quiz-percentage" marginTop="5%" [text]="quizPercentage+'%'"></Label>
            <Label class="text-center correct-questions" textWrap="true" color="white"
                [text]="correctAnswers+' correct out of 10 questions'"></Label>
        </StackLayout>
        <GridLayout row="1" width="100%" height="58%">
            <Pager class="pager" #pager [items]="result" width="90%" height="95%" [selectedIndex]="selectedPage"
                (selectedIndexChange)="onIndexChanged($event)" disableSwipe="true">
                <ng-template let-i="index" let-item="item">
                    <StackLayout>
                        <CardView class="card" elevation="10" radius="10" ios:shadowRadius="3">
                            <StackLayout orientation="vertical" height="90%" width="90%">
                                <ScrollView scrollBarIndicatorVisible="true" marginTop="3%" marginBottom="2%"
                                    height="35%" width="80%">
                                    <Label [text]="item.question" textWrap="true" height="100%" width="100%"
                                        fontSize="18" fontWeight="500" color="black"></Label>
                                </ScrollView>
                                <StackLayout *ngFor="let option of item.options" class="option" height="10%" width="80%"
                                    marginBottom="2%" orientation="vertical">
                                    <GridLayout height="100%" width="100%" borderRadius="3.75vh"
                                        [borderColor]="option._id==item.answerId?'#56af38':option._id==item.selectedOptionId?'red':'#9E9E9E'"
                                        borderWidth="1.25">
                                        <Image src="res://box_grey" horizontalAlignment="left"
                                            verticalAlignment="middle" marginLeft="7.5vh" marginRight="7.5vh"
                                            height="15vh" width="15vh">
                                        </Image>
                                        <StackLayout horizontalAlignment="left" verticalAlignment="middle" width="1.25"
                                            height="100%" marginLeft="30vh" backgroundColor="#9E9E9E">
                                        </StackLayout>
                                        <Label class="pull-left" fontSize="14" fontWeight="500" color="black"
                                            color="black" horizontalAlignment="left" marginLeft="37.5vh"
                                            verticalAlignment="middle" [text]="option.value"></Label>
                                    </GridLayout>
                                </StackLayout>
                                <Button class="next-button" [text]="nextButtonText" textTransform="none"
                                    (tap)="onNextButtonTap(i)"></Button>
                            </StackLayout>
                        </CardView>
                    </StackLayout>
                </ng-template>
            </Pager>
        </GridLayout>
        <GridLayout row="2" height="15%" marginBottom="1%" marginTop="1%" width="100%">
            <Label horizontalAlignment="center" verticalAlignment="middle" [text]="questionNumber+'/10'"
                color="#9E9E9E"></Label>
        </GridLayout>
    </GridLayout>

    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>

    <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
        <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
            [busy]="isLoading" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>

</Page>


<!-- [borderColor]="option._id==item.selectedOptionId&&option._id==item.answerId?'green':option._id==item.selectedOptionId&&option._id!=item.answerId?'red':'#9E9E9E'" -->