#reminderDialog{
    z-index: 99;
}

.top-heading{
    font-size:32;
    font-weight: 500;
    color:#1B1B1B;
}
.menu-icon{
    width:25;
    height:25;
    margin-top:10;
}


.reminder-button{
    padding:0;
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    z-index: 0;
}

.reminder-generic-button{
    color: black;
    width: 30%;
    border-width:1;
    border-color:#d1d1d1;
}

.reminder-day-button{
    height:75%;
    border-radius: 10;
    background-color: transparent;
    font-size: 10px;
    font-weight: bold;
}

.reminder-day-button-clicked{
    background-color: blue;
}

.reminder-cancel-button{
    color:#4d4d4d;
}

.reminder-cancel-button:highlighted{
    background-color: #273BD3;
    color:white;
}

.reminder-done-button{
    color:#273BD4;
}

.reminder-done-button:highlighted{
   background-color:#4d4d4d;
   color:white;
}

.card-left {
    /* background-color: #fff; */
    color: #4d4d4d;
    margin-left:7%;
    margin-top: 10;
    margin-bottom:10;
    width:40%;
    height:100%;
}
.card-right {
    /* background-color: #fff; */
    color: #4d4d4d;
    margin-right:7%;
    margin-top: 10;
    margin-bottom:10;
    width:40%;
}
.book-icon{
    width:30;
    height:30;
    margin-top:15%; 
    margin-left:5%;
}
.heading{
    font-size: 24;
}
.body{
    font-size: 14;
}
.card-layout {
    padding: 10;
}
.card-layout .h1 {
    margin-bottom: 15;
}
.readDialogLabel{
    color:#1B1B1B;
    font-size: 20;
    text-align:center;
    font-weight:500;
}
.read-sample-button{
    border-radius: 10;
    background-color:#273BD3;
    text-transform: initial;
    color:white;
    height:50%;
    width:50%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: white;
    border-width:1;
}
.read-sample-button:highlighted{
    background-color: white;
    border-color:#273BD3;
    color:#273BD3;
}
.buyAccessDialog{
    color:#1B1B1B;
    font-size: 24;
    text-align:center;
    font-weight:500;
}
.buy-access-button{
    border-radius: 10;
    background-color:#273BD3;
    text-transform: initial;
    color:white;
    height:50%;
    width:90%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: white;
    border-width:1;
}
.buy-access-button:highlighted{
    background-color: transparent;
    border-color:#273BD3;
    color:#273BD3;
}
.continue-free-button{
    border-radius: 10;
    background-color:transparent;
    text-transform: initial;
    color:#273BD3;
    height:50%;
    width:90%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: #273BD3;
    border-width:1;
}
.continue-free-button:highlighted{
    background-color: #273BD3;
    border-color:white;
    color:white;
}

.brand-name{
    font-size:14;
    color:#E98A02;
    font-weight:500;
}
.product-name{
    font-size:14;
    color:black;
    font-weight:500;
}

.button-search{
    background-image: url('res://search_grey');
}

.button-search:active{
    background-image: url('res://search_blue');
}

.button-quiz{
    background-image: url('res://quiz_grey');
}

.button-quiz:active{
    background-image: url('res://quiz_blue');
}

.button-topic{
    background-image: url('res://topic_grey');
}

.button-topic:active{
    background-image: url('res://topic_blue');
}

.button-bookmark{
    background-image: url('res://bookmark_grey');
}

.button-bookmark:active{
    background-image: url('res://bookmark_blue');
}

.button-account{
    background-image: url('res://account_grey');
}

.button-account:active{
    background-image: url('res://account_blue');
}

.bottom-bar-button{
    background-repeat: no-repeat;
    background-size: 35% 40%;
    background-position: 50% 45%;
    font-size: 6;
    font-weight: 700;
    border-color: transparent;
    border-width: 0.1;
    z-index: 0;
    padding-top: 40%;
    color: gray;
}