<GridLayout>
    <GridLayout *ngIf="isRendering" class="page" vericalAlignment="top">

        <GridLayout rows="auto,auto,auto" height="100%" width="100%" verticalAlignment="top">
            <GridLayout row="0" marginLeft="7%" height="20%" columns="auto,auto">
                <StackLayout col="0" width="80%" height="80%" verticalAlignment="middle">
                    <Label class="top-heading" [text]="goodMorning"></Label>
                    <Label class="top-heading" [text]="userName"></Label>
                </StackLayout>
                <StackLayout #menuButton col="1" width="20%" height="40" (tap)="onMenuClick(menuButton)">
                    <Image class="menu-icon" horizontalAlignment="center" src="res://menu"></Image>
                </StackLayout>
            </GridLayout>

            <GridLayout row="1" height="70%" width="100%">
                <RadListView [items]="chapters" colWidth="35%" rowHeight="40%" width="100%" height="100%">
                    <ng-template let-item="item" let-i=index let-odd="odd">
                        <CardView ripple="true" margin="10" elevation="10" radius="20" ios:shadowRadius="5">
                            <GridLayout #bookCard orientation="vertical"
                                [backgroundColor]="selectedCard==i?'#273BD4':'white'" marginLeft="8%" marginRight="8%"
                                marginTop="10" marginBottom="10" borderRadius="10" rows="auto,auto"
                                (tap)="cardClicked(i)" (loadedbindingFlags)="onBookLoaded($event)"
                                (longPress)="onCardLongPressed(i)">
                                <GridLayout row="0" horizontalAlignment="left" height="50%">
                                    <NSImage class="book-icon" stretch="aspectFit" placeholder="res://box_white"
                                        [src]="item.iconSelected.url">
                                    </NSImage>

                                    <NSImage *ngIf="selectedCard==i?false:true" class="book-icon" stretch="aspectFit"
                                        placeholder="res://box_white" [src]="item.iconUnselected.url">
                                    </NSImage>

                                </GridLayout>
                                <GridLayout row="1" rows="auto,auto,auto,auto" horizontalAlignment="left" height="50%">
                                    <StackLayout row="0" horizontalAlignment="left" verticalAlignment="middle"
                                        height="20%" width="90%" marginLeft="5%">
                                        <Label class="body" [color]="selectedCard==i?'white':'#4d4d4d'" textWrap="true"
                                            [text]="paymentStatus"></Label>
                                    </StackLayout>
                                    <StackLayout row="1" horizontalAlignment="left" verticalAlignment="middle"
                                        height="40%" width="90%" marginLeft="5%">
                                        <Label class="heading" [color]="selectedCard==i?'white':'#4d4d4d'"
                                            [text]="item.name"></Label>
                                    </StackLayout>
                                    <StackLayout row="2" horizontalAlignment="left" verticalAlignment="middle"
                                        height="20%" width="90%" marginLeft="5%">
                                        <Label class="body" [color]="selectedCard==i?'white':'#4d4d4d'" textWrap="true"
                                            [text]="item.quizPercentage+'%'"></Label>
                                    </StackLayout>
                                    <StackLayout row="3" horizontalAlignment="left" verticalAlignment="middle"
                                        height="20%" width="90%" marginLeft="5%">
                                        <Progress class="progress" [color]="selectedCard==i?'white':'#273BD4'"
                                            [value]="item.quizPercentage" maxValue="100">
                                        </Progress>
                                    </StackLayout>
                                </GridLayout>
                            </GridLayout>
                        </CardView>
                    </ng-template>
                    <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" itemHeight="175vh" spanCount="2">
                    </ListViewGridLayout>
                </RadListView>
            </GridLayout>
            <!-- <BottomNavigationBar verticalAlignment="bottom" activeColor="blue" inactiveColor="gray"
                backgroundColor="#ffffff" (tabSelected)="onBottomNavigationTabSelected($event)"
                (tabPressed)="onBottomNavigationTabPressed($event)" row="2" height="10%">
                <BottomNavigationTab title="Search" icon="res://search_grey"></BottomNavigationTab>
                <BottomNavigationTab title="Quiz" icon="res://quiz_grey"></BottomNavigationTab>
                <BottomNavigationTab title="Topics" icon="res://topic_grey"></BottomNavigationTab>
                <BottomNavigationTab title="Bookmark" icon="res://bookmark_grey"></BottomNavigationTab>
                <BottomNavigationTab title="Account" icon="res://account_grey"></BottomNavigationTab>
            </BottomNavigationBar> -->
            <!-- <GridLayout row="2" columns="*,*,*,*,*" height="10%" backgroundColor="#ffffff" verticalAlignment="bottom">
                <Button col="0" class="button-search bottom-bar-button" text="Search"
                    (tap)="onBottomButtonTap(0)"></Button>
                <Button col="1" class="button-quiz bottom-bar-button" text="Quiz" (tap)="onBottomButtonTap(1)"></Button>
                <Button col="2" class="button-topic bottom-bar-button" text="Topics"
                    (tap)="onBottomButtonTap(2)"></Button>
                <Button col="3" class="button-bookmark bottom-bar-button" text="Bookmark"
                    (tap)="onBottomButtonTap(3)"></Button>
                <Button col="4" class="button-account bottom-bar-button" text="Account"
                    (tap)="onBottomButtonTap(4)"></Button>
            </GridLayout> -->
        </GridLayout>
    </GridLayout>



    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>

    <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
        <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
            [busy]="isLoading" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>
    <!-- <StackLayout  horizontalAlignment="center"
        verticalAlignment="middle">
        <DropDown [isEnabled]="isLanguageSelect" width="100%" height="100vh" #dd backroundColor="red" itemsTextAlignment="center" [items]="languageList"
            [(ngModel)]="langaugeIndex" (selectedIndexChanged)="onchange($event)" (opened)="onopen()"
            (closed)="onclose()" verticalAlignment="middle" horizontalAlignment="center">
        </DropDown>
    </StackLayout> -->
    <GridLayout #languageSelectDialog modal size="lg" duration="100" dismissable="true">
        <GridLayout width="80%" height="30%" radius="20" margin="15" (loaded)="onLenguageSelectLoaded($event)"
        backgroundColor="white">
            <ScrollView width="100%" height="100%">
                <StackLayout verticalAlignment="middle" backgroundColor="white">
                    <StackLayout *ngFor="let lang of languageList" height="40" width="90%"
                        verticalAlignment="middle" (tap)="changeLanguage(lang)">
                        <Label class="readDialogLabel" textWrap="true" [text]="lang.display" verticalAlignment="middle"></Label>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
    </GridLayout>

</GridLayout>