.footer-icon {
    width: 25;
    height: 25;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10;
}

.footer-label {
    font-size: 10;
    margin-bottom: 10;
    text-align: center;
}

.play-container {
    width: 50;
    height: 50;
    vertical-align: middle;
    background-color: #273BD3;
    margin-right: 10%;
    border-radius: 25;
    margin-top: 65%;
    border-color: white;
    border-width: 1;
}

.play-icon {
    width: 20;
    height: 20;
}

.reminder-button {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    z-index: 0;
}

.reminder-generic-button {
    color: black;
    width: 30%;
    border-width: 1;
    border-color: #d1d1d1;
}

.reminder-day-button {
    height: 75%;
    border-radius: 10;
    background-color: transparent;
    font-size: 10px;
    font-weight: bold;
}

.reminder-day-button-clicked {
    background-color: blue;
}

.reminder-cancel-button {
    color: #4d4d4d;
}

.reminder-cancel-button:highlighted {
    background-color: #273BD3;
    color: #ffffff;
    border-radius: 10;
}

.reminder-done-button {
    color: #273BD4;
    border-radius: 10;
}

.reminder-done-button:highlighted {
    background-color: #4d4d4d;
    color: #ffffff;
}