<GridLayout height="100%" width="100%">
    <router-outlet></router-outlet>
    <StackLayout *ngIf="showPlayButton" row="5" class="play-container" horizontalAlignment="right">
        <Image class="play-icon" src="res://play" (tap)="onPlayClick()"></Image>
    </StackLayout>
    <ActivityIndicator row="1" #activityIndicator [busy]="showLoading" color="#273BD3" verticalAlignment="middle"
        width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <StackLayout *ngIf="showFooter" height="10%" width="100%" backgroundColor="#FFFFFF" verticalAlignment="bottom">
        <GridLayout rows="*" columns="*,*,*,*,*">
            <StackLayout col="0" row="0" (tap)="onSearchTap()">
                <Image class="footer-icon" [src]="searchIcon">
                </Image>
                <Label class="footer-label" [color]="searchColor" [text]="search"></Label>
            </StackLayout>
            <StackLayout col="1" row="0" (tap)="onQuizTap()">
                <Image class="footer-icon" [src]="quizIcon">
                </Image>
                <Label class="footer-label" [color]="quizColor" [text]="quiz"></Label>
            </StackLayout>
            <StackLayout col="2" row="0" (tap)="onTopicsTap()">
                <Image class="footer-icon" [src]="topicsIcon">
                </Image>
                <Label class="footer-label" [color]="topicsColor" [text]="topics"></Label>
            </StackLayout>
            <StackLayout col="3" row="0" (tap)="onBookmarkTap()">
                <Image class="footer-icon" [src]="bookmarkIcon">
                </Image>
                <Label class="footer-label" [color]="bookmarkColor" [text]="bookmark"></Label>
            </StackLayout>
            <StackLayout col="4" row="0" (tap)="onAccountTap()">
                <Image class="footer-icon" [src]="accountIcon">
                </Image>
                <Label class="footer-label" [color]="accountColor" [text]="account"></Label>
            </StackLayout>
        </GridLayout>
    </StackLayout>

    <GridLayout #reminderDialog modal size="lg" duration="100" backgroundColor="white">
        <GridLayout width="95%" height="60%" backgroundColor="white" margin="15"
            (loaded)="onReminderDialogLoaded($event)">
            <StackLayout width="100%" height="100%" orientation="vertical">

                <StackLayout width="90%" height="8%" orientation="horizontal">
                    <Label class="reminder-generic-button" borderColor="transparent" textWrap="true" width="31%"
                        [text]="selectDay" verticalAlignment="middle" horizontalAlignment="left"></Label>
                    <StackLayout height="2px" width="69%" marginTop="5px" backgroundColor="#d1d1d1"
                        verticalAlignment="middle" horizontalAlignment="right"></StackLayout>
                </StackLayout>
                <GridLayout width="90%" height="33%" rows="auto,auto,auto">
                    <GridLayout row="0" columns="auto,auto,auto" width="100%" height="33.33%">
                        <Button class="reminder-button reminder-generic-button reminder-day-button"
                            [backgroundColor]="selectedDays[0]==true?'#273BD3':'transparent'"
                            [color]="selectedDays[0]==true?'white':'black'" col="0" text="Monday"
                            (tap)="onDayTap(0)"></Button>
                        <Button class="reminder-button reminder-generic-button reminder-day-button"
                            [backgroundColor]="selectedDays[1]==true?'#273BD3':'transparent'"
                            [color]="selectedDays[1]==true?'white':'black'" text="Tuesday" marginLeft="5%"
                            marginRight="5%" col="1" (tap)="onDayTap(1)"></Button>
                        <Button class="reminder-button reminder-generic-button reminder-day-button" col="2"
                            [backgroundColor]="selectedDays[2]==true?'#273BD3':'transparent'"
                            [color]="selectedDays[2]==true?'white':'black'" text="Wednesday"
                            (tap)="onDayTap(2)"></Button>
                    </GridLayout>
                    <GridLayout row="1" columns="auto,auto,auto" width="100%" height="33.33%">
                        <Button class="reminder-button reminder-generic-button reminder-day-button" col="0"
                            [backgroundColor]="selectedDays[3]==true?'#273BD3':'transparent'"
                            [color]="selectedDays[3]==true?'white':'black'" text="Thursday"
                            (tap)="onDayTap(3)"></Button>
                        <Button class="reminder-button reminder-generic-button reminder-day-button" marginLeft="5%"
                            marginRight="5%" col="1" [backgroundColor]="selectedDays[4]==true?'#273BD3':'transparent'"
                            [color]="selectedDays[4]==true?'white':'black'" text="Friday" (tap)="onDayTap(4)"></Button>
                        <Button class="reminder-button reminder-generic-button reminder-day-button" col="2"
                            [backgroundColor]="selectedDays[5]==true?'#273BD3':'transparent'"
                            [color]="selectedDays[5]==true?'white':'black'" text="Saturday"
                            (tap)="onDayTap(5)"></Button>
                    </GridLayout>
                    <GridLayout row="2" columns="auto" width="100%" height="33.33%">
                        <Button class="reminder-button reminder-generic-button reminder-day-button" col="0"
                            [backgroundColor]="selectedDays[6]==true?'#273BD3':'transparent'"
                            [color]="selectedDays[6]==true?'white':'black'" text="Sunday" (tap)="onDayTap(6)"></Button>
                    </GridLayout>
                </GridLayout>

                <StackLayout width="90%" height="8%" orientation="horizontal">
                    <Label class="reminder-generic-button" borderColor="transparent" textWrap="true" width="31%"
                        [text]="selectTime" verticalAlignment="middle" horizontalAlignment="left"></Label>
                    <StackLayout height="2px" width="69%" marginTop="5px" backgroundColor="#d1d1d1"
                        verticalAlignment="middle" horizontalAlignment="right"></StackLayout>
                </StackLayout>

                <TimePicker height="43%" (loaded)="onPickerLoaded($event)" (timeChange)="onTimeChanged($event)"
                    verticalAlignment="center"></TimePicker>

                <StackLayout height="1px" backgroundColor="">

                </StackLayout>

                <GridLayout height="8%" width="100%">
                    <Button class="reminder-button reminder-cancel-button" (tap)="onReminderCancel()"
                        horizontalAlignment="left" [text]="cancel"></Button>
                    <Button class="reminder-button reminder-done-button" (tap)="onReminderDone()"
                        horizontalAlignment="right" [text]="done"></Button>
                </GridLayout>
            </StackLayout>

        </GridLayout>
    </GridLayout>

</GridLayout>

<!-- <page-router-outlet></page-router-outlet> -->