.top-heading {
    font-size: 32;
    font-weight: 500;
    color: black;
}

.menu-icon {
    width: 25;
    height: 25;
    margin-top: 25;
}

.reminder-button {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
    z-index: 0;
}

.readDialogLabel {
    color: #1B1B1B;
    font-size: 20;
    text-align: center;
    font-weight: 500;
}

.reminder-generic-button {
    color: black;
    width: 30%;
    border-width: 1;
    border-color: #d1d1d1;
}

.reminder-day-button {
    height: 75%;
    border-radius: 10;
    background-color: transparent;
    font-size: 10px;
    font-weight: bold;
}

.reminder-day-button-clicked {
    background-color: blue;
}

.reminder-cancel-button {
    color: #4d4d4d;
}

.reminder-cancel-button:highlighted {
    background-color: #273BD3;
    color: white;
}

.reminder-done-button {
    color: #273BD4;
}

.reminder-done-button:highlighted {
    background-color: #4d4d4d;
    color: white;
}

.input-field {
    border-bottom-width: 0;
}

.search-icon {
    width: 25;
    height: 25;
}

.card-top {
    background-color: white;
    margin-top: 20;
    margin-bottom: 20;
    width: 90%;
}

.card-bottom {
    background-color: white;
    margin-top: 10;
    margin-bottom: 10;
    width: 90%;
}

.list-items {
    font-size: 16;
    padding: 10;
    color: black;
    font-weight: 500;
}