<Page actionBarHidden="true">
    <GridLayout *ngIf="isRendering" class='page'>
        <!--  <GridLayout #reminderDialog modal size="lg" duration="100" backgroundColor="white">
            <GridLayout width="95%" height="60%" radius="20">
                <StackLayout width="100%" height="100%" orientation="vertical">

                    <StackLayout width="90%" height="8%" orientation="horizontal">
                        <Label class="reminder-generic-button" borderColor="transparent" textWrap="true" width="31%"
                            text="Select the Day" verticalAlignment="middle" horizontalAlignment="left"></Label>
                        <StackLayout height="2px" width="69%" marginTop="5px" backgroundColor="#d1d1d1"
                            verticalAlignment="middle" horizontalAlignment="right"></StackLayout>
                    </StackLayout>

                    <GridLayout width="90%" height="33%" rows="auto,auto,auto">
                        <GridLayout row="0" columns="auto,auto,auto" width="100%" height="33.33%">
                            <Button class="reminder-button reminder-generic-button reminder-day-button"
                                [backgroundColor]="selectedDays[0]==true?'#273BD3':'transparent'"
                                [color]="selectedDays[0]==true?'white':'black'" col="0" text="Monday"
                                (tap)="onDayTap(0)"></Button>
                            <Button class="reminder-button reminder-generic-button reminder-day-button"
                                [backgroundColor]="selectedDays[1]==true?'#273BD3':'transparent'"
                                [color]="selectedDays[1]==true?'white':'black'" text="Tuesday" marginLeft="5%"
                                marginRight="5%" col="1" (tap)="onDayTap(1)"></Button>
                            <Button class="reminder-button reminder-generic-button reminder-day-button" col="2"
                                [backgroundColor]="selectedDays[2]==true?'#273BD3':'transparent'"
                                [color]="selectedDays[2]==true?'white':'black'" text="Wednesday"
                                (tap)="onDayTap(2)"></Button>
                        </GridLayout>
                        <GridLayout row="1" columns="auto,auto,auto" width="100%" height="33.33%">
                            <Button class="reminder-button reminder-generic-button reminder-day-button" col="0"
                                [backgroundColor]="selectedDays[3]==true?'#273BD3':'transparent'"
                                [color]="selectedDays[3]==true?'white':'black'" text="Thursday"
                                (tap)="onDayTap(3)"></Button>
                            <Button class="reminder-button reminder-generic-button reminder-day-button" marginLeft="5%"
                                marginRight="5%" col="1"
                                [backgroundColor]="selectedDays[4]==true?'#273BD3':'transparent'"
                                [color]="selectedDays[4]==true?'white':'black'" text="Friday"
                                (tap)="onDayTap(4)"></Button>
                            <Button class="reminder-button reminder-generic-button reminder-day-button" col="2"
                                [backgroundColor]="selectedDays[5]==true?'#273BD3':'transparent'"
                                [color]="selectedDays[5]==true?'white':'black'" text="Saturday"
                                (tap)="onDayTap(5)"></Button>
                        </GridLayout>
                        <GridLayout row="2" columns="auto" width="100%" height="33.33%">
                            <Button class="reminder-button reminder-generic-button reminder-day-button" col="0"
                                [backgroundColor]="selectedDays[6]==true?'#273BD3':'transparent'"
                                [color]="selectedDays[6]==true?'white':'black'" text="Sunday"
                                (tap)="onDayTap(6)"></Button>
                        </GridLayout>
                    </GridLayout>

                    <StackLayout width="90%" height="8%" orientation="horizontal">
                        <Label class="reminder-generic-button" borderColor="transparent" textWrap="true" width="31%"
                            text="Select a time" verticalAlignment="middle" horizontalAlignment="left"></Label>
                        <StackLayout height="2px" width="69%" marginTop="5px" backgroundColor="#d1d1d1"
                            verticalAlignment="middle" horizontalAlignment="right"></StackLayout>
                    </StackLayout>

                    <TimePicker height="43%" (loaded)="onPickerLoaded($event)" (timeChange)="onTimeChanged($event)"
                        verticalAlignment="center"></TimePicker>

                    <StackLayout height="1px" backgroundColor="">

                    </StackLayout>

                    <GridLayout height="8%" width="100%">
                        <Button class="reminder-button reminder-cancel-button" (tap)="onReminderDone()"
                            horizontalAlignment="left" text="Cancel"></Button>
                        <Button class="reminder-button reminder-done-button" (tap)="onReminderCancel()"
                            horizontalAlignment="right" text="Done"></Button>
                    </GridLayout>
                </StackLayout>

            </GridLayout>
        </GridLayout> -->

        <GridLayout rows="auto,auto,auto,auto,auto,auto" height="100%" width="100%" marginBottom="10%">
            <StackLayout row="0" width="80%" height="15%" marginTop="30" verticalALignment="middle"
                horizontalAlignment="left">
                <CardView class="card-top" elevation="20" radius="10" height="45" ios:shadowRadius="3">
                    <GridLayout columns="auto,auto" width="100%">
                        <StackLayout col="0" width="15%" verticalAlignment="middle">
                            <Image class="search-icon" src="res://search_blue"></Image>
                        </StackLayout>
                        <StackLayout col="1" width="85%">
                            <TextField returnKeyType="done" (returnPress)="onSearchReturnPress($event)"
                                (textChange)="onTextChanged($event)" autocorrect="false" (focus)="onFocus($event)"
                                (blur)="onBlur($event)" borderWidth="1" borderColor="transparent"
                                class="input input-field">
                            </TextField>
                        </StackLayout>
                    </GridLayout>
                </CardView>
            </StackLayout>
            <StackLayout row="0" width="15%" height="15%" marginTop="30" horizontalAlignment="right" #menuButton
                (tap)="onMenuClick(menuButton)">
                <Image class="menu-icon" src="res://menu"></Image>
            </StackLayout>
            <!-- <StackLayout row="1" width="100%" height="75%">
                <CardView class="card-bottom" elevation="20" radius="10" ios:shadowRadius="3">
                    <ListView [items]="searchedItems">
                        <ng-template let-data="item" let-i="index" let-odd="odd" let-even="even">
                            <Label class="list-items" [text]="data.searchedLine" textWrap="true"></Label>
                        </ng-template>
                    </ListView>
                </CardView>
            </StackLayout> -->
            <ScrollView row="1" *ngIf="!isLoading" height="75%" width="100%">
                <StackLayout orientation="vertical">

                    <Label *ngIf="intro.length!=0" row="0" marginLeft="8%" text="Intro" color="black"
                        fontSize="18%"></Label>
                    <StackLayout *ngIf="intro.length!=0" marginLeft="8%">
                        <StackLayout *ngFor="let item of intro">
                            <Label #resultLabel borderRadius="2" (tap)="onLabelResultClicked('intro',item,$event)"
                                [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                        </StackLayout>

                    </StackLayout>

                    <Label *ngIf="neck.length!=0" row="0" marginLeft="8%" text="Neck" color="black"
                        fontSize="18%"></Label>
                    <StackLayout *ngIf="neck.length!=0" marginLeft="8%">
                        <StackLayout *ngFor="let item of neck">
                            <Label #resultLabel borderRadius="2" (tap)="onLabelResultClicked('neck',item,$event)"
                                [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                        </StackLayout>
                    </StackLayout>

                    <Label *ngIf="jaw.length!=0" row="0" marginLeft="8%" text="Jaw" color="black"
                        fontSize="18%"></Label>
                    <StackLayout *ngIf="jaw.length!=0" marginLeft="8%">
                        <StackLayout *ngFor="let item of jaw">
                            <Label #resultLabel borderRadius="2" (tap)="onLabelResultClicked('jaw',item,$event)"
                                [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                        </StackLayout>

                        <!-- <Label *ngFor="let item of jaw" [text]="item.line" color="black" fontSize="16%"
                            marginLeft="30"></Label> -->
                    </StackLayout>

                    <Label *ngIf="chin.length!=0" row="0" marginLeft="8%" text="Chin" color="black"
                        fontSize="18%"></Label>
                    <StackLayout *ngIf="chin.length!=0" marginLeft="8%">
                        <StackLayout *ngFor="let item of chin">
                            <Label #resultLabel borderRadius="2" (tap)="onLabelResultClicked('chin',item,$event)"
                                [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                        </StackLayout>

                        <!-- <Label *ngFor="let item of chin" [text]="item.line" color="black" fontSize="16%"
                            marginLeft="30"></Label> -->
                    </StackLayout>

                    <Label *ngIf="nose.length!=0" row="0" marginLeft="8%" text="Nose" color="black"
                        fontSize="18%"></Label>
                    <StackLayout *ngIf="nose.length!=0" marginLeft="8%">
                        <StackLayout *ngFor="let item of nose">
                            <Label #resultLabel borderRadius="2" (tap)="onLabelResultClicked('nose',item,$event)"
                                [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                        </StackLayout>

                        <!-- <Label *ngFor="let item of nose" [text]="item.line" color="black" fontSize="16%"
                            marginLeft="30"></Label> -->
                    </StackLayout>

                    <Label *ngIf="ears.length!=0" row="0" marginLeft="8%" text="Ears" color="black"
                        fontSize="18%"></Label>
                    <StackLayout *ngIf="ears.length!=0" marginLeft="8%">
                        <StackLayout *ngFor="let item of ears">
                            <Label #resultLabel borderRadius="2" (tap)="onLabelResultClicked('ears',item,$event)"
                                [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                        </StackLayout>

                        <!-- <Label *ngFor="let item of ears" [text]="item.line" color="black" fontSize="16%"
                            marginLeft="30"></Label> -->
                    </StackLayout>

                    <Label *ngIf="lips.length!=0" row="0" marginLeft="8%" text="Lips" color="black"
                        fontSize="18%"></Label>
                    <StackLayout *ngIf="lips.length!=0" marginLeft="8%">
                        <StackLayout *ngFor="let item of lips">
                            <Label #resultLabel borderRadius="2" (tap)="onLabelResultClicked('lips',item,$event)"
                                [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                        </StackLayout>

                        <!-- <Label *ngFor="let item of lips" [text]="item.line" color="black" fontSize="16%"
                            marginLeft="30"></Label> -->
                    </StackLayout>

                    <Label *ngIf="eyes.length!=0" row="0" marginLeft="8%" text="Eyes" color="black"
                        fontSize="18%"></Label>
                    <StackLayout *ngIf="eyes.length!=0" marginLeft="8%">
                        <StackLayout *ngFor="let item of eyes">
                            <Label #resultLabel borderRadius="2" (tap)="onLabelResultClicked('eyes',item,$event)"
                                [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                        </StackLayout>

                        <!-- <Label *ngFor="let item of eyes" [text]="item.line" color="black" fontSize="16%"
                            marginLeft="30"></Label> -->
                    </StackLayout>

                    <!-- <ListView row="1" [items]="intro" marginLeft="8%" width="100%" separatorColor="#ffffffff">
                            <ng-template let-i="index" let-item="item">
                                <Label [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                            </ng-template>
                        </!-->
                    <!-- <StackLayout *ngFor="let item of intro">
                        <StackLayout row="1" orientation="vertical" height="100" marginLeft="8%" width="100%">
                            <Label [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                        </StackLayout>
                    </StackLayout> -->

                    <!-- <GridLayout row="1" rows="auto,auto" *ngIf="neck.length!=0" width="100%">
                        <Label row="0" marginLeft="8%" text="Neck" color="black" fontSize="18%"></Label>
                        <ListView row="1" [items]="neck" marginLeft="8%" width="100%" separatorColor="#ffffffff">
                            <ng-template let-i="index" let-item="item">
                                <Label [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                            </ng-template>
                        </ListView>
                    </GridLayout>

                    <GridLayout row="2" rows="auto,auto" *ngIf="jaw.length!=0" width="100%">
                        <Label row="0" marginLeft="8%" color="black" text="Jaw" fontSize="18%"></Label>
                        <ListView row="1" [items]="jaw" width="100%" marginLeft="8%" separatorColor="#ffffffff">
                            <ng-template let-i="index" let-item="item">
                                <Label [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                            </ng-template>
                        </ListView>
                    </GridLayout>

                    <GridLayout row="3" rows="auto,auto" *ngIf="chin.length!=0" width="100%">
                        <Label row="0" marginLeft="8%" text="Chin" color="black" fontSize="18%"></Label>
                        <ListView row="1" [items]="chin" width="100%" marginLeft="8%" separatorColor="#ffffffff">
                            <ng-template let-i="index" let-item="item">
                                <Label [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                            </ng-template>
                        </ListView>
                    </GridLayout>

                    <GridLayout row="4" rows="auto,auto" *ngIf="nose.length!=0" width="100%">
                        <Label row="0" marginLeft="8%" text="Nose" color="black" fontSize="18%"></Label>
                        <ListView row="1" [items]="nose" width="100%" marginLeft="8%" separatorColor="#ffffffff">
                            <ng-template let-i="index" let-item="item">
                                <Label [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                            </ng-template>
                        </ListView>
                    </GridLayout>

                    <GridLayout row="5" rows="auto,auto" *ngIf="ears.length!=0" width="100%">
                        <Label row="0" marginLeft="8%" text="Ears" color="black" fontSize="18%"></Label>
                        <ListView row="1" [items]="ears" width="100%" marginLeft="8%" separatorColor="#ffffffff">
                            <ng-template let-i="index" let-item="item">
                                <Label [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                            </ng-template>
                        </ListView>
                    </GridLayout>

                    <GridLayout row="6" rows="auto,auto" *ngIf="lips.length!=0" width="100%">
                        <Label row="0" marginLeft="8%" text="Lips" color="black" fontSize="18%"></Label>
                        <ListView row="1" [items]="lips" width="100%" marginLeft="8%" separatorColor="#ffffffff">
                            <ng-template let-i="index" let-item="item">
                                <Label [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                            </ng-template>
                        </ListView>
                    </GridLayout>

                    <GridLayout row="7" rows="auto,auto" *ngIf="eyes.length!=0" width="100%">
                        <Label row="0" marginLeft="8%" text="Eyes" color="black" fontSize="18%"></Label>
                        <ListView row="1" [items]="eyes" width="100%" marginLeft="8%" separatorColor="#ffffffff">
                            <ng-template let-i="index" let-item="item">
                                <Label [text]="item.line" color="black" fontSize="16%" marginLeft="30"></Label>
                            </ng-template>
                        </ListView>
                    </GridLayout> -->

                </StackLayout>
            </ScrollView>

            <GridLayout row="1" *ngIf="isLoading" backgroundColor="transparent" height="75%" width="100%">
                <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
                    [busy]="isLoading" rowSpan="1" colSpan="1">
                </ActivityIndicator>
            </GridLayout>

            <!-- <GridLayout width="100%" height="75%" (loaded)="onSearchChapterLoaded($event)" margin="15">
                    <ListView [items]="searchedItems" width="100%" height="100%">
                        <ng-template let-i="index" let-item="item">
                            <StackLayout>
                                <Label marginLeft="15" [text]=" item.chapter" fontSize="18%"></Label>
                                <StackLayout marginLeft="15" *ngFor="let result of item.results"
                                    orientation="horizontal">
                                    <Label [text]="result.line" fontSize="16%"></Label>
                                </StackLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>

                <GridLayout width="100%" height="75%" (loaded)="onSearchChapterLoaded($event)" margin="15">
                    <ListView [items]="searchedItems" width="100%" height="100%">
                        <ng-template let-i="index" let-item="item">
                            <StackLayout>
                                <Label marginLeft="15" [text]=" item.chapter" fontSize="18%"></Label>
                                <StackLayout marginLeft="15" *ngFor="let result of item.results"
                                    orientation="horizontal">
                                    <Label [text]="result.line" fontSize="16%"></Label>
                                </StackLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>

                <GridLayout width="100%" height="75%" (loaded)="onSearchChapterLoaded($event)" margin="15">
                    <ListView [items]="searchedItems" width="100%" height="100%">
                        <ng-template let-i="index" let-item="item">
                            <StackLayout>
                                <Label marginLeft="15" [text]=" item.chapter" fontSize="18%"></Label>
                                <StackLayout marginLeft="15" *ngFor="let result of item.results"
                                    orientation="horizontal">
                                    <Label [text]="result.line" fontSize="16%"></Label>
                                </StackLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>

                <GridLayout width="100%" height="75%" (loaded)="onSearchChapterLoaded($event)" margin="15">
                    <ListView [items]="searchedItems" width="100%" height="100%">
                        <ng-template let-i="index" let-item="item">
                            <StackLayout>
                                <Label marginLeft="15" [text]=" item.chapter" fontSize="18%"></Label>
                                <StackLayout marginLeft="15" *ngFor="let result of item.results"
                                    orientation="horizontal">
                                    <Label [text]="result.line" fontSize="16%"></Label>
                                </StackLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>

                <GridLayout width="100%" height="75%" (loaded)="onSearchChapterLoaded($event)" margin="15">
                    <ListView [items]="searchedItems" width="100%" height="100%">
                        <ng-template let-i="index" let-item="item">
                            <StackLayout>
                                <Label marginLeft="15" [text]=" item.chapter" fontSize="18%"></Label>
                                <StackLayout marginLeft="15" *ngFor="let result of item.results"
                                    orientation="horizontal">
                                    <Label [text]="result.line" fontSize="16%"></Label>
                                </StackLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>

                <GridLayout width="100%" height="75%" (loaded)="onSearchChapterLoaded($event)" margin="15">
                    <ListView [items]="searchedItems" width="100%" height="100%">
                        <ng-template let-i="index" let-item="item">
                            <StackLayout>
                                <Label marginLeft="15" [text]=" item.chapter" fontSize="18%"></Label>
                                <StackLayout marginLeft="15" *ngFor="let result of item.results"
                                    orientation="horizontal">
                                    <Label [text]="result.line" fontSize="16%"></Label>
                                </StackLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>

                <GridLayout width="100%" height="75%" (loaded)="onSearchChapterLoaded($event)" margin="15">
                    <ListView [items]="searchedItems" width="100%" height="100%">
                        <ng-template let-i="index" let-item="item">
                            <StackLayout>
                                <Label marginLeft="15" [text]=" item.chapter" fontSize="18%"></Label>
                                <StackLayout marginLeft="15" *ngFor="let result of item.results"
                                    orientation="horizontal">
                                    <Label [text]="result.line" fontSize="16%"></Label>
                                </StackLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </GridLayout> -->

            <!-- <ListView [items]="searchedItems" width="100%" height="100%">
                    <ng-template let-i="index" let-item="item">
                        <StackLayout >
                            <Label marginLeft="15" [text]=" item.chapter" fontSize="18%"></Label>
                            <StackLayout marginLeft="15" *ngFor="let result of item.results" orientation="horizontal">
                                <Label [text]="result.line" fontSize="16%"></Label>
                            </StackLayout>
                        </StackLayout>
                    </ng-template>
                </ListView> -->

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <!-- <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
            <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
                [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout> -->

        <GridLayout #languageSelectDialog modal size="lg" duration="100" dismissable="true">
            <GridLayout width="80%" height="30%" radius="20" margin="15" (loaded)="onLenguageSelectLoaded($event)"
                backgroundColor="#ffffff">
                <ScrollView width="100%" height="100%">
                    <StackLayout verticalAlignment="middle">
                        <StackLayout *ngFor="let lang of languageList" height="40" width="90%"
                            verticalAlignment="middle" (tap)="changeLanguage(lang)">
                            <Label class="readDialogLabel" textWrap="true" [text]="lang.display" verticalAlignment="middle"></Label>
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </GridLayout>
        </GridLayout>

    </GridLayout>

</Page>