<Page actionBarHidden="true">
    <GridLayout *ngIf='isRendering' class='page'>
        <ScrollView>
            <StackLayout>
                <GridLayout rows="auto,auto" height="90%" width="100%" marginBottom="60">
                    <GridLayout row="0" marginLeft="7%" marginTop="20" height="15%" columns="auto,auto">
                        <StackLayout col="0" width="80%">
                            <Label class="top-heading" [text]="bookmarkHeading"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="20%" #menuButton (tap)="onMenuClick(menuButton)">
                            <Image class="menu-icon" horizontalAlignment="center" src="res://menu"></Image>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout row="1" marginTop="10" height="80%" width="100%">
                        <CardView *ngFor="let item of bookmarks; let i= index" class="card" horizontalAlignment="center"
                            elevation="10" radius="10" ios:shadowRadius="3" (tap)="onBookmarkClick(item)" ripple="true"
                            [backgroundColor]="selectedCard==i?'#273BD4':'white'" margin="10">
                            <GridLayout columns="auto,auto" class="card-layout">
                                <StackLayout col="0" width="85%">
                                    <Label class="heading" [color]="selectedCard==i?'white':'#273BD4'" textWrap="true"
                                        [text]="item.name"></Label>
                                    <Label class="body" [color]="selectedCard==i?'white':'#273BD4'"
                                        horizontalAlignment="left"
                                        [backgroundColor]="selectedCard==i?'#273BD4':'transparent'"
                                        [text]="item.chapter.name"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="15%" verticalAlignment="middle">
                                    <Image class="icon"
                                        [src]="selectedCard==i?'res://arrow_next_white':'res://arrow_next'">
                                    </Image>
                                </StackLayout>
                            </GridLayout>
                        </CardView>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>

    <GridLayout *ngIf="isLoading" backgroundColor="transparent" width="100%" height="100%">
        <ActivityIndicator backgroundColor="transparent" horizontalAlignment="center" verticalAlignment="middle"
            [busy]="isLoading" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>

    <GridLayout #languageSelectDialog modal size="lg" duration="100" dismissable="true">
    <GridLayout width="80%" height="30%" radius="20" margin="15" (loaded)="onLenguageSelectLoaded($event)"
        backgroundColor="#ffffff">
        <ScrollView width="100%" height="100%">
            <StackLayout verticalAlignment="middle">
                <StackLayout *ngFor="let lang of languageList" height="40" width="90%" verticalAlignment="middle"
                    (tap)="changeLanguage(lang)">
                    <Label class="readDialogLabel" textWrap="true" [text]="lang.display"
                        verticalAlignment="middle"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</GridLayout>
</Page>
